## EXPIRES CACHING ##
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/x-javascript "access plus 1 month"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 2 days"
    Header set X-Content-Type-Options nosniff
    # https://kb.sucuri.net/warnings/hardening/headers-x-content-type
    Header set X-XSS-Protection "1; mode=block"
    # https://kb.sucuri.net/warnings/hardening/headers-x-xss-protection
    Header always set Strict-Transport-Security "max-age=300; includeSubDomains; preload"
    # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security
</IfModule>
## EXPIRES CACHING ##

RewriteCond %{HTTP_HOST} freenote-4randoms.alwaysdata\.net [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://freenote-4randoms.alwaysdata.net/$1 [R,L]

<Files ".htaccess">  # empêche d'accéder au fichier htaccess
    Require all denied
</Files>

ErrorDocument 401 /?ctrl=ErrorPage&action=error&error=401
ErrorDocument 403 /?ctrl=ErrorPage&action=error&error=403
ErrorDocument 404 /?ctrl=ErrorPage&action=error&error=404
ErrorDocument 500 /?ctrl=ErrorPage&action=error&error=500
ErrorDocument 503 /?ctrl=ErrorPage&action=error&error=503

# Manque la Réécriture d'URL

#<DirectoryMatch ".git"> # empêche d'accéder au dossier .git
#    Require all denied
#</DirectoryMatch>