Strict-Transport-Security: max-age=86400  # force le navigateur à passer par le HTTPS pour toutes ses requêtes

<Files ".htaccess">  # empêche d'accéder au fichier htaccess
  Require all denied
</Files>