body {
    background: linear-gradient(#30cfd0, #330867);
}
header {
    background-color: black;
}
#logo {
    max-height: 100%;
    max-width: 100%;

}
input {
    color : white;
}

#submit {
    color : black;
}

