body {
    background: linear-gradient(#30cfd0, #330867);
}
header {
    background-color: black;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input {
    color : white;
}
#register {
    background-color: black;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;

    border: 20px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
#signin {
    background-color: black;

    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;

    border: 20px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
#submit {
    color : black;
}